.single-product {
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  height: auto;
  position: relative;
  transition: 0.2s all ease-in;
  width: 100%;
  margin-right: 50px;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
}

.single-product:last-child {
  margin-right: 0;
}

.single-product__title {
  color: #120b90;
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
}

.single-product__image-container {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.single-product__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-product__price {
  color: #d85b00;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px;
}

.single-product__cta {
  opacity: 0;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 300px;
  color: black;
}

.single-product:hover .single-product__cta {
  opacity: 1;
}

.single-product:hover .single-product__image {
  opacity: 0.3;
}

.single-product:hover {
  transform: scale(110%);
}
