.single-product {
  background-color: white;
  border-radius: 50px;
  overflow: hidden;
  height: auto;
  position: relative;
  transition: 0.2s all ease-in;
  flex-basis: 32%;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
  cursor: pointer;
}

.single-product__title {
  color: #120b90;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
}

.single-product__image-container {
  overflow: hidden;
  height: 300px;
}

.single-product__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-product__price {
  color: #d85b00;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
}

.single-product:hover .single-product__image {
  opacity: 0.3;
}

.single-product:hover {
  transform: scale(110%);
}
