.filters {
  background-color: white;
  height: 100%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
  position: sticky;
  top: 100px;
  flex-basis: 18%;
}

.filters__title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.filters__category {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 7px;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

.filters__category:hover {
  font-weight: bold;
}

.active-category {
  text-decoration: underline;
  font-weight: bold;
}

.filters__brands,
.filters__price,
.filters__ratings {
  margin-top: 20px;
}

.filters__brand {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 0;
  text-transform: capitalize;
  cursor: pointer;
  border: 2px solid #ccc;
  outline: none;
}

.filters__price-input {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 8px;
  border: 2px solid #ccc;
  outline: none;
}

.filters__price-input:last-child {
  margin-bottom: 0;
}

.filters__rating {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.filters__rating input {
  cursor: pointer;
}
.filters__rating label {
  cursor: pointer;
}

.filters__rating label svg {
  vertical-align: center;
  color: #ffae42;
  padding: 0;
  margin: 0;
}

input[type='radio'] {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  vertical-align: center;
}

.filters__clear {
  background: none;
  border: none;
  cursor: pointer;
  color: #120b90;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
}

.filters__clear:hover {
  text-decoration: underline;
}
