.admin-sidebar {
  background-color: white;
  color: black;
}

.admin-sidebar__hamburger {
  font-size: 50px;
  cursor: pointer;
  margin-left: 25px;
}
.admin-sidebar__nav {
  background-color: #0e1111;
  color: white;
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 700ms;
}

.admin-sidebar__nav.active {
  left: 0;
  transition: 700ms;
}

.admin-sidebar__close {
  font-size: 50px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.admin-sidebar__close svg {
  margin-top: 5px;
  margin-right: 10px;
}

.admin-sidebar__link {
  color: white;
  font-size: 27px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 100px;
  background-color: transparent;
  border: none;
  width: 100%;
}

.admin-sidebar__link:hover {
  background-color: #3b444b;
  border-left: 5px solid #120b90;
}

.admin-sidebar__return {
  font-size: 25px;
  text-align: center;
}
