.list-view {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  flex-basis: 80%;
}

.list-view__product {
  display: flex;
  background-color: white;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
}

.list-view__image {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.list-view__image-container {
  flex-basis: 20%;
}

.list-view__title {
  margin-top: 20px;
  font-size: 50px;
  text-align: left;
  margin-left: 20px;
}

.list-view__all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  padding-bottom: 20px;
  padding-left: 10px;
}

.list-view__description {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.list-view__price {
  margin-right: 20px;
  font-size: 40px;
  color: #120b90;
}

.list-view__link {
  background-color: #120b90;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  text-align: right;
  font-weight: bold;
  margin-right: 25px;
  margin-top: 25px;
  border-radius: 10px;
}

.list-view__product-content {
  flex-basis: 70%;
}
