.contact-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  overflow: hidden;
  width: 40%;
}

.contact-form__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 0.75;
}

.contact-form__label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 20px;
}

.contact-form__label span {
  margin-bottom: 7px;
  cursor: pointer;
}

.contact-form__input {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  font-weight: 500;
  font-size: 20px;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
  border: 2px solid #ccc;
  overflow: hidden;
  resize: none;
}

.contact-form__cta {
  background-color: #120b90;
  color: #fff;
  padding: 8px 16px;
  border: none;
  width: fit-content;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
}

.contact-form__error {
  color: red;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  margin-top: 10px;
}
