.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.not-found__title {
  color: red;
  font-size: 125px;
}

.not-found__description {
  font-size: 50px;
}

.not-found__cta {
  color: #fff;
  background-color: #120b90;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
  margin-top: 20px;
}
