.add-product-page {
  text-align: center;
  margin-bottom: 40px;
}

.add-product-page__title {
  margin-bottom: 30px;
}

.add-product__input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.add-product__input-container--name,
.add-product__input-container--description {
  margin-bottom: 30px;
}

.add-product__input-container input,
.add-product__input-container select,
.add-product__input-container textarea {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  font-weight: 500;
  font-size: 20px;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
  border: 2px solid #ccc;
  overflow: hidden;
  resize: none;
}

.add-product__input-container textarea {
  resize: none;
}

.add-product__small {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.add-product__checkbox {
  margin-top: 30px;
  display: flex;
  justify-content: right;
  gap: 10px;
  font-size: 20px;
}

.add-product__checkbox input {
  width: 20px;
  accent-color: #120b90;
}

.add-product__cta {
  background-color: #120b90;
  color: #fff;
  padding: 8px 16px;
  border: none;
  width: fit-content;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
  margin-top: 30px;
}

.add-product__container {
  display: flex;
}

.add-product__images {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
  gap: 70px;
}

.add-product__image-container {
  border-radius: 10px;
  background-color: white;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
  height: 100%;
  width: 400px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.add-product__image-container label {
  font-size: 20px;
  color: white;
  background-color: #120b90;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
  font-weight: bold;
  padding: 8px 16px;
}

.add-product__image-cta {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.add-product__error {
  color: red;
  font-weight: bold;
}

.add-product__image {
  width: 120px;
}

.add-product__small-image {
  width: 60px;
}
