.sort {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 300px;
}

.sort-input {
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}

.sort__products-found {
  font-size: 20px;
  font-weight: bold;
}

.sort__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sort__views {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sort__grid,
.sort__list {
  font-size: 25px;
  padding: 5px;
  display: flex;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  color: gray;
  font-weight: bold;
}

.sort__grid--active,
.sort__list--active {
  color: black;
}
