.user-change__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.user-change__label {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-change__form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-change__input {
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 10px;
  outline: none;
  font-weight: 500;
  font-size: 20px;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
  border: 2px solid #ccc;
  overflow: hidden;
  resize: none;
}

.user-change__submit {
  display: block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: #120b90;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s all ease-in-out;
  margin-bottom: 50px;
  width: fit-content;
  margin: auto;
}

.user-change__reset {
  display: block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: red;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s all ease-in-out;
  margin-bottom: 50px;
  margin: auto;
}
