.header {
  background-color: #120b90;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__link {
  color: white;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s opacity ease-in-out;
}

.header__link:hover {
  opacity: 0.6;
}

.header__link:nth-child(1) {
  margin-right: 10px;
}

.header__logged {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}

.header__logout {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
}

.header__username {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 20px;
}

.header__username svg {
  height: 30px;
  width: 30px;
}
