.products-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-page__search {
  padding: 10px;
  width: 800px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
  border-radius: 10px 0 0 10px;
  border: 1px solid black;
}

.products-page__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
  gap: 50px;
}

.products-page__products > * {
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  margin-right: 30px;
}

.products-page__content {
  display: flex;
}

.product-page__search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-page__search-button {
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  background-color: #1b88b7;
  color: white;
  font-weight: bold;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-page__search-button svg {
  margin: 0;
  padding: 0;
}
