.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50000;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  border-radius: 20px;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 49999;
}

.modal__title {
  font-size: 30px;
}

.modal__buttons {
  display: flex;
  column-gap: 50px;
}

.modal__delete,
.modal__close {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s all ease-in-out;
}

.modal__delete {
  background-color: green;
}

.modal__close {
  background-color: red;
}
