.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page__title {
  text-align: center;
}

.login-page__title span {
  color: #120b90;
}

.login-page__title a {
  text-decoration: none;
  color: #ccc;
}

.login-page__container {
  background-color: white;
  padding: 50px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
  gap: 40px;
}

.login-page__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.login-page__form label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.login-page__form label span {
  margin-bottom: 7px;
}

.login-page__input {
  padding: 12px 10px 7.5px;
  border: none;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
}

.login-page__cta {
  background: #120b90;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 23px;
  color: white;
  margin-top: 10px;
}

.login-page__password-container {
  position: relative;
  padding: 12px 10px 7.5px;
  border: none;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.login-page__password-container svg {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 0;
}

.login-page__password-input {
  border: none;
  height: 100%;
  outline: none;
  font-size: 20px;
}

.login-page__error {
  font-weight: bold;
  color: red;
  font-size: 20px;
}

.login-page__input__error {
  font-weight: bold;
  color: red;
  margin-top: 7px;
  font-size: 18px;
}

.login-page__forgot-pass {
  font-size: 20px;
  color: #120b90;
  font-weight: bold;
}

.login-page__back {
  width: 100%;
}

.login-page__back a {
  color: #120b90;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  position: relative;
}

.login-page__back svg {
  position: absolute;
  left: -18px;
  top: -2px;
}
