.addtocart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.addtocart-cta {
  padding: 10px;
  background: #120b90;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
