.homepage-products {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 80px;
}

.homepage-products__title {
  font-size: 80px;
  color: #120b90;
  position: relative;
  padding-bottom: 10px;
}

.homepage-products__title::after {
  content: '';
  width: 250px;
  height: 10px;
  background-color: #d85b00;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.homepage-products__products {
  padding-top: 50px;
  display: flex;
  margin-bottom: 150px;
}

.homepage-products__cta {
  color: #120b90;
  background-color: white;
  font-size: 50px;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 40px;
}
