.grid-view__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
  gap: 50px;
}

.grid-view__products > * {
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  margin-right: 30px;
}
