.forgot-password {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password__title {
  text-align: center;
  color: #120b90;
}

.forgot-password__container {
  background-color: white;
  padding: 50px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
  gap: 40px;
}

.forgot-password__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.forgot-password__form label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.forgot-password__form label span {
  margin-bottom: 7px;
}

.forgot-password__input {
  padding: 12px 10px 7.5px;
  border: none;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
}

.forgot-password__cta {
  background: #120b90;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 23px;
  color: white;
  margin-top: 10px;
}

.forgot-password__link {
  font-weight: bold;
  color: #120b90;
  width: 100%;
  text-align: right;
}

.forgot-password__input-error {
  font-weight: bold;
  color: red;
  margin-top: 7px;
  font-size: 18px;
}

.forgot-password__error {
  font-weight: bold;
  color: red;
  font-size: 20px;
}
