.contact-page__title {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  color: #120b90;
}

.contact-page__info {
  margin-bottom: 50px;
  display: flex;
}

.contact-page__map {
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
}

.contact-page__map iframe {
  display: block;
}
