.contact-page__title {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  color: #1b88b7;
}

.contact-page__info {
  margin-bottom: 50px;
  display: flex;
}

.contact-page__map {
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}

.contact-page__map iframe {
  display: block;
}
