@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.toast-fontSize {
  font-size: 25px;
}

@layer base {
  body {
    @apply bg-[#F2f3f4] dark:bg-[#2c2e31];
  }
  #root {
    @apply flex flex-col min-h-screen;
  }
}

@layer components {
  input[type='range'] {
    @apply appearance-none bg-transparent w-full;
  }

  input[type='range']::-webkit-slider-runnable-track {
    @apply bg-gray-700 rounded-full;
  }

  input[type='range']::-moz-range-track {
    @apply bg-black/25 rounded-full;
  }

  input[type='range']::-ms-track {
    @apply bg-black/25 rounded-full;
  }
  input[type='range']::-ms-fill-lower {
    @apply bg-blue-900 rounded-xl;
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #2e426c;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}
