.image-gallery img {
  width: 700px;
  display: block;
  object-fit: contain;
  border-radius: 50px;
  height: 400px;
  background-color: white;
  padding: 30px;
}

.image-gallery__main {
  object-fit: contain;
  border-radius: 50px;
}

.image-gallery__gallery {
  margin-top: 40px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 50px;
}

.image-gallery__gallery img {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.image-gallery__active {
  opacity: 0.3;
}

.image-gallery__gallery img:hover {
  transform: scale(110%);
}
