.hero {
  height: 100vh;
  background-image: url('../../assets/6017768.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__left {
  display: flex;
  padding-top: 100px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__title {
  text-transform: uppercase;
  color: white;
  font-size: 100px;
  text-align: center;
  position: relative;
}

.hero__title::after {
  content: '';
  width: 250px;
  height: 10px;
  background-color: #d85b00;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.hero__cta {
  color: #1b88b7;
  background-color: white;
  font-weight: bold;
  font-size: 48px;
  padding: 43px 63px;
  border-radius: 80px;
  margin-top: 80px;
}
