.remove-product {
  margin-top: 100px;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
  width: 800px;
}

.remove-product__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-product__image {
  width: 250px;
  border-radius: 10px;
}

.remove-product__delete {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s all ease-in-out;
  background-color: red;
  margin-top: 40px;
}
