.profile-sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-basis: 30%;
  border-radius: 50px;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
}

.profile-sidebar a {
  padding: 50px;
  font-size: 30px;
  font-weight: bold;
  color: black;
}
