.product-page {
  display: flex;
  padding-top: 50px;
  padding-bottom: 100px;
  justify-content: space-between;
}

.product-page__cta {
  background-color: #120b90;
  cursor: pointer;
  padding: 10px;
  width: 100px;
  margin-bottom: 50px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 4px 16px 26px -12px rgba(169, 169, 179, 1);
}

.product-page__right {
  text-align: right;
  margin-top: 100px;
  margin-left: 40px;
}

.product-page__title {
  font-size: 80px;
  margin-bottom: 20px;
}

.product-page__description {
  font-size: 30px;
}

.product-page__rating {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.product-page__rating svg {
  color: #ffae42;
}

.product-page__available span,
.product-page__brand span {
  font-weight: bold;
}

.product-page__brand {
  margin-top: 80px;
}

.product-page__available,
.product-page__brand {
  text-align: right;
  font-size: 25px;
}

.product-page__available {
  margin-bottom: 40px;
}

.product-page__price {
  color: #120b90;
  font-size: 90px;
  margin-bottom: 30px;
}
